<div class="container">
  <div class="row ">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h1><span>My Reminders</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <h4>Outstanding</h4>
            <% @todo_items.where(completed: false).each do |item| %>
              <div class="feed-item">
                <p><%= item.name %></p>
                  <%= link_to "Mark Complete", mark_complete_todo_item_path(item), class: 'btn btn-yellow' %>
              </div>
            <% end %>
            <h4>Done</h4>
            <% @todo_items.where(completed: true).each do |item| %>
              <div class="feed-item completed">
                <p><%= item.name %></p>
                <i class="fas fa-check"></i> Complete
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
