.dashboard-deck-container {
  margin-top: 2vh;

  .deck-card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(220,220,220,0.5);
    margin-top: 1vh;
    padding: 8px;

    .top-line {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .bottom-line {
      display: flex;
      justify-content: space-between;
    }

    .passed-due-date {
      color: #FF0000;
      font-size: 0.9em;
      font-weight: 600;
    }

    .short-due-date {
      color: #E28674;
      font-size: 0.9em;
      font-weight: 600;
    }

    .long-due-date {
      color: #51C6A1;
      font-size: 0.9em;
      font-weight: 600;
    }

    .completed-due-date {
      color: $green;
      font-size: 0.9em;
      font-weight: 600;
    }

    .deck-name {
      color: #C7C7C7;
      font-weight: 300;
      margin: 0px;
    }

    .btn-finish {
      padding: 0px 4px;
      text-transform: uppercase;
      font-size: 0.9em;
      flex-shrink: 0;
    }

    .btn-complete {
      padding: 0px 4px;
      text-transform: uppercase;
      font-size: 0.9em;
      color: #C7C7C7;
      border: 1px solid #C7C7C7;
    }

    .progress {
      height: 1vh;
    }
    .progress-bar {
      height: 1vh;
      background-color: $green;
    }
  }

  .fa-book {
    color: #FAC70A;
  }
}


