// Specific CSS for your home-page
.home-page-body{
	background-image: asset-url('bannerlet-01.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.home-page-text {
	position: relative;
	top: 30vh;
	left: 16px;
  width: 50vw;
	h1{
		font-weight: bold;
		font-size: 40px;
	}

	p{
		color:$gris-foncee;
		font-size: 20px;
	}
}

.yellow-word{
	color: $yellow;
	border-bottom: none;
}

.btn-container-homepage-mobile {
  display: none;
}

.page-content {
  padding-top: 7vh;
  flex: 1 1 auto;
  overflow: auto;
}

@media(max-width: 575.98px) {
  .remove-text {
    display: none;
  }

  .padding-sm-screen {
    font-size: 15px;
    padding-right: 50px;
  }

  .home-page-text {
    width: 70vw;
  }

  .page-content {
    padding-top: 7vh;
  }

  .btn-container-homepage-mobile {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 40px;
    padding: 0px 4vw;
      .btn-homepage {
        flex-grow: 1;
        margin-right: 16px;
      }
      :last-child {
        margin-right: 0px;
    }
  }
}

.page-container {
  display: flex;
  height: 100vh;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
