// Specific CSS for your home-page
.home-page-body{
	background-image: asset-url('bannerlet-01.png');
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.home-page-text {
	position: relative;
	top: 30vh;
	left: 15px;
	h1{
		font-weight: bold;
		font-size: 30px;
	}

	p{
		color:$gris-foncee;
		font-size: 15px;
	}
}

.yellow-word{
	color: $yellow;
	border-bottom: none;
}

@media only screen and (max-width: 593px) {
	.remove-text {
		display: none;
	}

	.padding-sm-screen {
		font-size: 15px;
		padding-right: 50px;
	}
}



.page-content {
  padding-top: 40px;
}

@media(max-width: 575.98px) {
  .page-content {
    padding-top: 48px;
  }
}
