.stop-scrolling {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.swipe-helper {
  width: 30vw;
  display: block;
  margin: 20px auto 0 auto;
  opacity: 0.1;
}

.question-container {
  .progress {
    height: 1vh;
  }
  .progress-bar {
    height: 1vh;
    background-color: $green;
    bottom: 16px;
  }

  .progress-text {
    position: fixed;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.question-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(220,220,220,0.5);
  margin-top: 3vh;
  padding: 16px;
  position: relative;
  p {
    font-size: 20px;
  }
}

.transform {
  -webkit-transition: transform 0.5s ease 0s;
  -moz-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  -ms-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
}

.transform-left {
  -webkit-transform: translateX(-500px);
  -moz-transform: translateX(-500px);
  -o-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  transform: translateX(-500px);
}

.transform-right {
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -o-transform: translateX(500px);
  -ms-transform: translateX(500px);
  transform: translateX(500px);
}

.choice-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
  padding-bottom: 16px;
}

.btn-answer {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  background-color: #748DE2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  &.help {
    background-color: $yellow;
  }
}

a.btn-answer {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

.back-dashboard-link {
  margin-top: 8px;
  display: block;
  text-align: center;
}

