.question-container {
  .progress {
    height: 1vh;
  }
  .progress-bar {
    height: 1vh;
    background-color: $green;
    position: fixed;
    bottom: 16px;
  }

  .progress-text {
    position: fixed;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.question-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(220,220,220,0.5);
  margin-top: 3vh;
  padding: 16px;
  position: absolute;
  width: 90vw;
  p {
    font-size: 20px;
  }
}

.choice-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
  padding-bottom: 16px;
}

.btn-answer {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  background-color: #748DE2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  &.help {
    background-color: $yellow;
  }
}

a.btn-answer {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

.back-dashboard-link {
  display: block;
  margin: 2vh 0;
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translate(-50%, 0);
}
