<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><span>Results for <%= @student.first_name %></span></h1>
      <h2><%= @deck.name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>

