<div class="container">
  <div class="row ">
    <div class="col-sm-12">
      <div class="row my-3">
        <div class="col-12">
          <h1><span>My feed</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12-col-md-9">
            <%= render @feed_events %>
            <div id="infinite-scrolling">
              <%= will_paginate @feed_events %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

