<div class="container">
	<div class="deck-completion-card">
		<div class="image-and-name">
			<div class="dcc-img" class="background-image" style="background-image: url(https://picsum.photos/400);"></div>
			<p>Deck name</p>
		</div>
		<div class="progress-holder">
			<div class="progress" style="height: 10px;">
			   <div class="progress-bar progress-bar-striped bg-success progress-bar-margin" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>	
</div>