
 <div class="bar green" data-toggle="tooltip" title="Correct" style="width:<%= correct %>%"></div>
 <div class="bar red" data-toggle="tooltip" title="Incorrect" style="width:<%= incorrect %>%"></div>
 <div class="bar" data-toggle="tooltip" title="Unsure" style="width:<%= 100 - correct - incorrect %>%"></div>

