<div class="container">
	<div class="student-list-card">
		<div class="student-number-and-icon">
			<p>23 students</p>
			<p><i class="fas fa-pencil-alt"></i></p>
		</div>
		<div class="students">
			<div class="student-info">
				<div class="avatar" style="background-image: url(https://picsum.photos/400)">
				</div>
				<p>Jonny Gates</p>
				
			</div>
		</div>
	</div>
</div>