<div class="home-page-body">
	<div class="home-page-text">
		<h1>Make learning fun with <span class="yellow-word">flashcards</span>.</h1>
		<p> we help student and teachers get the most <br> out of every single class.</p>
	</div>
</div>

