<div class="home-page-body">
	<div class="home-page-text">
		<h1 class="padding-sm-screen">Make learning fun with <span class="yellow-word">flashcards</span>.</h1>
		<p class="remove-text">We help student and teachers get the most out of every single class.</p>
	</div>
</div>

<div class="btn-container-homepage-mobile">
  <div class="btn btn-yellow btn-homepage">
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
  <div class="btn btn-grey btn-homepage">
    <%= link_to "Log In",  new_user_session_path %>
  </div>
</div>

