<div class="home-page-body">
	<div class="home-page-text">
		<h1>Make learning fun with flashcards.</h1>
		<p> we help syudent and teachers get the most out of every single class.</p>
	</div>
</div>

