<div class="container">
  <h1> <%= @deck.name %> </h1>
  <h2><i class="fas fa-pen"></i> Edit</h2>
  <div class="cards">
    <% @deck.cards.each do |card| %>
      <%= card.question %>
    <% end %>
  </div>
</div>
