.circular-chart {
  display: block;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle-green {
  stroke: #50C6A3;
}

.circle-red {
  stroke: #E28674;
}

.circle-grey {
  stroke: #505050;
}

.circle-small {
  max-height: 16px;
  max-width: 16px;
  margin: 0 10px;
}

.circle-large {
  max-height: 250px;
  margin: 10px auto;
  max-width: 80%;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circle-label {
  font-size: 0.3em;
}

.section {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 5px, 0px 1px, rgba(0,0,0,0.05);
}

.container {
  margin-bottom: 16px;
}
