.card{
	border-radius: 8px;
  	border: none;
	overflow: hidden;
	box-shadow: 2px 2px 8px rgba(10,10,10,0.1);
}

.background-image{
	height:80px;
	background-size: cover;
}

.img-circle{
	border-radius: 50%;
	object-fit: cover;
	height:40px;
	width: 40px;
	border: solid white 3px;
	margin-left: -14px;
  &:first-of-type{
    margin-left: 0px;
  }
}

.cards{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
	grid-gap:16px;
}

.description{
	h2{
		font-size: 20px;
    	font-weight: 400;
	}
	p{
		color: rgba(50,50,50,0.4);
		line-height: 18px;
	}
}

.avatars {
}

.card-bottom {
  padding: 8px;
}

.card-bottom.curriculum{
	padding: 15px;
}

.p-bar{
	border-radius:8px;
	background-color: white;
	margin-top: 14px;
	box-shadow: 2px 2px 8px rgba(10,10,10,0.1);
}

.p-bar-margin{
	padding: 20px 15px;
}

.card-rating{
  margin-bottom: 16px;
}

.title-style {

	min-height: 30px;
    background-color: rgba(200, 200, 200, 0.2);
    text-align: center;
    margin-top: 0px;
    padding: 10px 4px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(20,20,20,0.9);

}

.each-deck {
	margin-bottom: 8px;
	font-size: 12px;

	a{
		color: black; 
	}

	a:hover{
		color: $gris-foncee;
		transition-duration: 0.5s;
		text-decoration: none;
		i {
			color: $yellow;
			transition-duration: 0.5s;
		}
	}

}