
.flashcard-grid, .deck-resources{
  display: grid;
  grid-gap: 16px;
  max-width: 1240px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.flashcard, .resources,  {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: 2px 3px 5px 0px rgba(10,9,10,0.05);
  position: relative;
  .text {
    height: 100px;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.flashcard {
  background-color: white;
  height: 160px;
  margin-top: 15px;
}

.flashcard:hover {
  box-shadow: 2px 5px 8px 0px rgba(10,9,10,0.1);
}

.resources {
  background: rgba(196, 196, 196, 0.24);
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  .resources-text {
    padding: 8px;
    font-size: 14px;
    height: 40px;
  }
}

.flashcard-new {
  text-align: center;
  justify-content: center;
  vertical-align: center;
  background-color: white;
}

.fa-plus-circle,{
  font-size: 32px;
  position: absolute;
  bottom: 45%;
  right: 45%;
}

.edit-link-icon, {
  position: absolute;
  bottom: 8px;
  right: 12px;
}

.fa-external-link-alt {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.heading-edit{
  padding-left: 15px;
  font-size: 14px;
}
