@media(max-width: 575.98px) {
  h1 {
    font-size: 1.5em;
    font-weight: 500;
    span {
      border-bottom: 0.5vh solid $yellow;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
  }
}
