.left-nav {
    h1, h2, a {
      padding-left: 12px;
    }
  width: 240px;
  background-color: white;
  padding-top: 80px;
  flex: 0 0 auto;
  overflow: auto;
}

.left-nav a, .left-nav h4 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 18px;
}

.left-nav a:hover {
  background-color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.left-nav .sections-list-item, .left-nav .decks-list-item {
  font-size: 14px;
  padding-left: 30px;
}

.selected {
  border-left: solid;
  border-width: 8px;
  border-color: #FAC70B;
  background: rgba(250, 199, 11, 0.14);
  a:hover {
    background-color: rgba(250, 199, 11, 0.14);
  }
}

@media(max-width: 575.98px) {
  .left-nav {
    display: none;
  }
}
