.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1000;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbartransparent{
	background: transparent;
}

.navbar {
	position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  top: 0;
  width: 100%;
}
.av-img {
	position: absolute;
	right: 20px;
}
@media only screen and (max-width: 593px) {
	.av-img {
		display: none;
	}

	.button-holder{
		display: flex;
	}
}
