.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
	list-style: none;
}
.av-img {
	position: absolute;
	right: 20px;
}
@media only screen and (max-width: 593px) {
	.av-img {
		display: none;
	}

	.button-holder{
		display: flex;
	}
}
