
.student-list-card{
	background-color: white;
	border-radius: 8px;
	margin-top: 30px;
	width: 250px;
	box-shadow: $box-shadow-base;
	min-height: 200px;
	padding:20px;
}

.student-number-and-icon{
	display:flex;
	justify-content: space-between;

	p{
		color: $light-gray
	}
}

.student-info{
	display:flex;
	p{
		padding-left: 8px;
		padding-top: 4px;
	}
}