<h1><%= @deck.name %></h1>

<% @attempts.each do |collection| %>
  <% unless collection.empty? %>
    <h2><%= collection.first.user.first_name %></h2>
    <% collection.each do |attempt| %>
      <p><%= attempt.card.question %>: <strong><%= attempt.response %></strong></p>
    <% end %>
  <% end %>
<% end %>
