<h1> <%= Deck.find(params[:id]).name %></h1>
  <h1>Section <%= Section.find(params[:section_id]).name %></h1>
  <h2> <i class="fas fa-book"></i><%= Curriculum.find(params[:curriculum_id]).name %> </h2>
